# Vim files
*.swp
# Ignore config.php, debug.php and debug.txt
/config.php
/debug.php
/debug.txt
# Build output
/deploy/
# translation memory
/cache/
# shared php-mapi files
/server/includes/mapi
# PhpStorm IDE folder
.idea
# translation files (you can copy them to your dev environment if you want to test)
*.mo
# Eclipse files
/.project
/.settings
# NPM modules
node_modules
# macOS metadata
.DS_Store
/tools/php-cs-fixer*
.php-cs-fixer.cache
# phpDocumentor output, cache and local configuration
/doc/api/
/.phpdoc/
/phpdoc.xml
