# some apache settings
Options -Indexes

# The maximum POST limit. To upload large files, this value must be larger than upload_max_filesize.
php_value post_max_size 31M
php_value upload_max_filesize 30M

# Deny access to config.php, config.php.dist, debug.php, debug.php.dist, defaults.php
# because they could become a security vulnerability when accessible
# Better safe then sorry
<FilesMatch "^(config|debug|defaults|init)\.php">
	<IfVersion < 2.4>
		    Deny from all
	</IfVersion>

	<IfVersion >= 2.4>
		   <RequireAll>
		       Require all denied
		   </RequireAll>
	</IfVersion>
</FilesMatch>
