/* import the base */
@import './base/_colors';

@import 'base/_sizes';

/* The animation for the spinner */
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

html, body {
	height: 100%;
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 13px;
}
body.login,
#loading-mask,
#bg,
body.zarafa-welcome {
	margin: 0;
	padding: 0;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTYwMCAxMjAwIj48dXNlIHhsaW5rOmhyZWY9IiNCIiB4PSIzMjAuNCIgZmlsbD0iIzMzYzZmNSIvPjx1c2UgeGxpbms6aHJlZj0iI0EiIHg9IjMyMC40IiB5PSItOTIuNSIgZmlsbD0iIzM1YzdmNSIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjMyMC40IiBmaWxsPSIjMjdjM2Y1Ii8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMzIwLjQiIGZpbGw9IiMwZGJmZjUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIzMjAuNCIgeT0iLTkyLjUiIGZpbGw9IiMyYmM0ZjQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIzMjAuNCIgeT0iLTE4NSIgZmlsbD0iIzIyYzBmNCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjMyMC40IiB5PSItMTg1IiBmaWxsPSIjMWNiZGY1Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMzIwLjQiIHk9Ii0yNzcuNSIgZmlsbD0iIzIzYzBmNCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjMyMC40IiB5PSItMjc3LjUiIGZpbGw9IiMyMGJjZjQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIzMjAuNCIgeT0iLTM3MCIgZmlsbD0iIzBlYjlmNSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjMyMC40IiB5PSItMzcwIiBmaWxsPSIjMWViZGY0Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMzIwLjQiIHk9Ii00NjIuNSIgZmlsbD0iIzBhYjJlYSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjMyMC40IiB5PSItNDYyLjUiIGZpbGw9IiMyMmMwZjQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIzMjAuNCIgeT0iLTU1NC45IiBmaWxsPSIjMzJjNmY1Ii8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMzIwLjQiIHk9Ii01NTQuOSIgZmlsbD0iIzMwYzRmNSIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjMyMC40IiB5PSItNjQ3LjQiIGZpbGw9IiMyOGMyZjUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIzMjAuNCIgeT0iLTY0Ny40IiBmaWxsPSIjMTBiYmY0Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMzIwLjQiIHk9Ii03MzkuOSIgZmlsbD0iIzMzYzRmNiIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjMyMC40IiB5PSItNzM5LjkiIGZpbGw9IiMxN2JlZjUiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIzMjAuNCIgeT0iLTgzMi40IiBmaWxsPSIjMjRjMGY1Ii8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMzIwLjQiIHk9Ii04MzIuNCIgZmlsbD0iIzI3YzFmNSIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjMyMC40IiB5PSItOTI0LjkiIGZpbGw9IiMyZWM0ZjUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIzMjAuNCIgeT0iLTkyNC45IiBmaWxsPSIjMmFjMmY1Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMzIwLjQiIHk9Ii0xMDE3LjQiIGZpbGw9IiMyZWMzZjUiLz48dXNlIHhsaW5rOmhyZWY9IiNDIiB4PSIyNDAuMyIgeT0iNDYuMiIgZmlsbD0iIzM1YmZlZiIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjI0MC4zIiB5PSItNDYuMiIgZmlsbD0iIzNjYzFlZSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjI0MC4zIiB5PSItMTM4LjciIGZpbGw9IiMxNGIyZTYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIyNDAuMyIgeT0iLTIzMS4yIiBmaWxsPSIjMWZiN2VjIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMjQwLjMiIHk9Ii0yMzEuMiIgZmlsbD0iIzJlYmRlZCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjI0MC4zIiB5PSItMzIzLjciIGZpbGw9IiMxNWFlZTIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIyNDAuMyIgeT0iLTQxNi4yIiBmaWxsPSIjMmFiOWVkIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMjQwLjMiIHk9Ii00MTYuMiIgZmlsbD0iIzFkYjhlZCIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjI0MC4zIiB5PSItNTA4LjciIGZpbGw9IiMzZmMyZWUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIyNDAuMyIgeT0iLTUwOC43IiBmaWxsPSIjMTliNmViIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMjQwLjMiIHk9Ii02MDEuMiIgZmlsbD0iIzI0YmFlYyIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjI0MC4zIiB5PSItNjkzLjciIGZpbGw9IiMyY2JkZWUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIyNDAuMyIgeT0iLTY5My43IiBmaWxsPSIjMzljMGVmIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMjQwLjMiIHk9Ii03ODYuMiIgZmlsbD0iIzMwYmVlZSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjI0MC4zIiB5PSItNzg2LjIiIGZpbGw9IiMxN2I2ZWMiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIyNDAuMyIgeT0iLTg3OC43IiBmaWxsPSIjMWViOGViIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMjQwLjMiIHk9Ii04NzguNyIgZmlsbD0iIzIzYmFlYyIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjI0MC4zIiB5PSItOTcxLjIiIGZpbGw9IiMyYWJjZWQiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIyNDAuMyIgeT0iLTk3MS4yIiBmaWxsPSIjMmViZGVkIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMTYwLjIiIGZpbGw9IiMyYWI0ZTIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIxNjAuMiIgeT0iLTE4NSIgZmlsbD0iIzJiYjNlMiIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjE2MC4yIiB5PSItMTg1IiBmaWxsPSIjMmNiMmUwIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMTYwLjIiIHk9Ii0yNzcuNSIgZmlsbD0iIzMyYjVlMyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjE2MC4yIiB5PSItMjc3LjUiIGZpbGw9IiMyYWI0ZTIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIxNjAuMiIgeT0iLTM3MCIgZmlsbD0iIzI4YjBlMSIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjE2MC4yIiB5PSItNDYyLjUiIGZpbGw9IiMzOWI3ZTQiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIxNjAuMiIgeT0iLTQ2Mi41IiBmaWxsPSIjMjliM2UyIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMTYwLjIiIHk9Ii01NTQuOSIgZmlsbD0iIzQzYmNlNCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9IjE2MC4yIiB5PSItNTU0LjkiIGZpbGw9IiMzMWI3ZTIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSIxNjAuMiIgeT0iLTY0Ny40IiBmaWxsPSIjMmFiMWUxIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iMTYwLjIiIHk9Ii02NDcuNCIgZmlsbD0iIzI0YWZlMCIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjE2MC4yIiB5PSItNzM5LjkiIGZpbGw9IiMyNWIwZGYiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIxNjAuMiIgeT0iLTczOS45IiBmaWxsPSIjMmViNWU0Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMTYwLjIiIHk9Ii04MzIuNCIgZmlsbD0iIzIwYWVkYyIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9IjE2MC4yIiB5PSItOTI0LjkiIGZpbGw9IiMyNGIxZTAiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSIxNjAuMiIgeT0iLTkyNC45IiBmaWxsPSIjMzZiN2UzIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iMTYwLjIiIHk9Ii0xMDE3LjQiIGZpbGw9IiMzMWI1ZTIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItMTM4LjciIGZpbGw9IiMyOWExYzkiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItMjMxLjIiIGZpbGw9IiMyZWFiZDQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItMzIzLjciIGZpbGw9IiMyZGFhZDQiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItMzIzLjciIGZpbGw9IiMyZWFjZDUiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItNDE2LjIiIGZpbGw9IiMyZGFhZDMiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItNDE2LjIiIGZpbGw9IiMyZWFiZDUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItNTA4LjciIGZpbGw9IiMzMGFjZDUiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItNjAxLjIiIGZpbGw9IiMyNzk4YmQiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItNjAxLjIiIGZpbGw9IiMzYmIxZDciLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItNjkzLjciIGZpbGw9IiMzMmFkZDYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItNzg2LjIiIGZpbGw9IiMzM2FkZDciLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItNzg2LjIiIGZpbGw9IiM0NWI0ZDkiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItODc4LjciIGZpbGw9IiMzY2IxZDciLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItODc4LjciIGZpbGw9IiMyYmFhZDMiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSI4MC4xIiB5PSItOTcxLjIiIGZpbGw9IiMyOWE0Y2UiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSI4MC4xIiB5PSItOTcxLjIiIGZpbGw9IiMzMmFkZDUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItMTg1IiBmaWxsPSIjMmU5OWJjIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeT0iLTI3Ny41IiBmaWxsPSIjMzE5ZGMyIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeT0iLTM3MCIgZmlsbD0iIzMxYTBjNCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHk9Ii0zNzAiIGZpbGw9IiMzOGE5Y2UiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItNDYyLjUiIGZpbGw9IiMyZTk0YjUiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItNTU0LjkiIGZpbGw9IiMzMDlmYzUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItNTU0LjkiIGZpbGw9IiMzNmE1Y2QiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItNjQ3LjQiIGZpbGw9IiM0MGFiY2YiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItNjQ3LjQiIGZpbGw9IiMzNWE3Y2UiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItNzM5LjkiIGZpbGw9IiMzOWFhY2UiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItNzM5LjkiIGZpbGw9IiMyZTk1YmEiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItODMyLjQiIGZpbGw9IiMyZjliYmUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItODMyLjQiIGZpbGw9IiMzMDlmYzYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItOTI0LjkiIGZpbGw9IiM0M2FlZDEiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB5PSItOTI0LjkiIGZpbGw9IiMzMmEyYzYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB5PSItMTAxNy40IiBmaWxsPSIjMzJhNWNiIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTgwLjEiIHk9Ii0yMzEuMiIgZmlsbD0iIzNiYTdjYiIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii04MC4xIiB5PSItNDE2LjIiIGZpbGw9IiMzMDk2YjciLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItODAuMSIgeT0iLTUwOC43IiBmaWxsPSIjMzM5Y2JmIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTgwLjEiIHk9Ii02MDEuMiIgZmlsbD0iIzMzOWFiYyIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii04MC4xIiB5PSItNjkzLjciIGZpbGw9IiMzZmE5Y2MiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItODAuMSIgeT0iLTY5My43IiBmaWxsPSIjMmQ4ZWFmIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTgwLjEiIHk9Ii03ODYuMiIgZmlsbD0iIzM1YTFjMyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii04MC4xIiB5PSItNzg2LjIiIGZpbGw9IiMzNWE0YzciLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItODAuMSIgeT0iLTg3OC43IiBmaWxsPSIjMzRhMGM0Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTgwLjEiIHk9Ii05NzEuMiIgZmlsbD0iIzMxOTliZCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii04MC4xIiB5PSItOTcxLjIiIGZpbGw9IiMzMTk3YmEiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMTYwLjIiIHk9Ii00NjIuNSIgZmlsbD0iIzM1OThiYSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0xNjAuMiIgeT0iLTU1NC45IiBmaWxsPSIjMzI4YmFjIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTE2MC4yIiB5PSItNjQ3LjQiIGZpbGw9IiMzNDk0YjUiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMTYwLjIiIHk9Ii02NDcuNCIgZmlsbD0iIzM1OWFiZCIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii0xNjAuMiIgeT0iLTczOS45IiBmaWxsPSIjMzY5YmJhIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTE2MC4yIiB5PSItNzM5LjkiIGZpbGw9IiMzMjg5YTgiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItMTYwLjIiIHk9Ii04MzIuNCIgZmlsbD0iIzNmYTRjNyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0xNjAuMiIgeT0iLTgzMi40IiBmaWxsPSIjMzI4ZmFjIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTE2MC4yIiB5PSItOTI0LjkiIGZpbGw9IiMzMTkxYjIiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMTYwLjIiIHk9Ii05MjQuOSIgZmlsbD0iIzMyOGZhZCIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii0xNjAuMiIgeT0iLTEwMTcuNCIgZmlsbD0iIzM0OTdiNyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0yNDAuMyIgeT0iLTQxNi4yIiBmaWxsPSIjMzg5M2IxIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTI0MC4zIiB5PSItNjAxLjIiIGZpbGw9IiMzYzljYmMiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItMjQwLjMiIHk9Ii02OTMuNyIgZmlsbD0iIzM5OTRiMSIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0yNDAuMyIgeT0iLTY5My43IiBmaWxsPSIjMzU4ZGFhIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTI0MC4zIiB5PSItNzg2LjIiIGZpbGw9IiMzNzhkYWIiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItMjQwLjMiIHk9Ii04NzguNyIgZmlsbD0iIzNhOTViOCIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0yNDAuMyIgeT0iLTg3OC43IiBmaWxsPSIjMzc4ZmFjIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTI0MC4zIiB5PSItOTcxLjIiIGZpbGw9IiMzMzg2YTQiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMzIwLjQiIHk9Ii01NTQuOSIgZmlsbD0iIzNlOTFhZiIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii0zMjAuNCIgeT0iLTczOS45IiBmaWxsPSIjMzQ3YTkzIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTMyMC40IiB5PSItODMyLjQiIGZpbGw9IiMzYThjYTciLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMzIwLjQiIHk9Ii04MzIuNCIgZmlsbD0iIzM2ODE5YyIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii0zMjAuNCIgeT0iLTkyNC45IiBmaWxsPSIjMzk4OWE1Ii8+PHVzZSB4bGluazpocmVmPSIjRyIgZmlsbD0iIzNiOGRhYSIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii0zMjAuNCIgeT0iLTEwMTcuNCIgZmlsbD0iIzM3ODU5ZiIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii00MDAuNSIgeT0iLTUwOC43IiBmaWxsPSIjM2I4NDlhIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTQwMC41IiB5PSItNjAxLjIiIGZpbGw9IiMzYTgzOWMiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItNDAwLjUiIHk9Ii02OTMuNyIgZmlsbD0iIzRmYTNiZCIvPjx1c2UgeGxpbms6aHJlZj0iI0giIGZpbGw9IiMzZThiYTciLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItNDAwLjUiIHk9Ii04NzguNyIgZmlsbD0iIzNlODhhMCIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii00MDAuNSIgeT0iLTk3MS4yIiBmaWxsPSIjM2Y4ZmE5Ii8+PHVzZSB4bGluazpocmVmPSIjSSIgZmlsbD0iIzNlOGNhNiIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii00ODAuNiIgeT0iLTczOS45IiBmaWxsPSIjM2M4Mjk1Ii8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTQ4MC42IiB5PSItODMyLjQiIGZpbGw9IiMzZDgzOWQiLz48dXNlIHhsaW5rOmhyZWY9IiNGIiB4PSItMTYwLjIiIGZpbGw9IiMzNTcyODUiLz48dXNlIHhsaW5rOmhyZWY9IiNJIiB4PSItMTYwLjIiIGZpbGw9IiMzYTc4OGQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItNTYwLjciIHk9Ii05NzEuMiIgZmlsbD0iIzMzNmU4MiIvPjx1c2UgeGxpbms6aHJlZj0iI0QiIHg9Ii02NDAuOCIgeT0iLTgzMi40IiBmaWxsPSIjM2U4MDk0Ii8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTY0MC44IiB5PSItODMyLjQiIGZpbGw9IiMzNzcyODYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItNjQwLjgiIHk9Ii0xMDE3LjQiIGZpbGw9IiMyZTY1NzUiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItNzIwLjkiIHk9Ii03ODYuMiIgZmlsbD0iIzNkODA5NyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii05NjEuMiIgeT0iLTczOS45IiBmaWxsPSIjNDQ4Mjk4Ii8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTE2MC4yIiB5PSItMjc3LjUiIGZpbGw9IiMzNDkzYjYiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMTYwLjIiIHk9Ii0zNzAiIGZpbGw9IiMzYWEyYzgiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItMzIwLjQiIHk9Ii0yNzcuNSIgZmlsbD0iIzM1ODE5YiIvPjx1c2UgeGxpbms6aHJlZj0iI0oiIGZpbGw9IiMzZDg4YTEiLz48dXNlIHhsaW5rOmhyZWY9IiNFIiB4PSItNTYwLjciIHk9Ii02MDEuMiIgZmlsbD0iIzNjN2Y5NyIvPjx1c2UgeGxpbms6aHJlZj0iI0UiIHg9Ii03MjAuOSIgeT0iLTYwMS4yIiBmaWxsPSIjMzU3NThiIi8+PHVzZSB4bGluazpocmVmPSIjRCIgeD0iLTcyMC45IiB5PSItOTcxLjIiIGZpbGw9IiMzNjc1OGQiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItODAxIiB5PSItOTI0LjkiIGZpbGw9IiMyYjY0NzciLz48dXNlIHhsaW5rOmhyZWY9IiNLIiBmaWxsPSIjMjA0MzRmIi8+PHVzZSB4bGluazpocmVmPSIjRSIgeD0iLTg4MS4xIiB5PSItNTA4LjciIGZpbGw9IiMyNzU3NjEiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItMTA0MS4zIiB5PSItOTcxLjIiIGZpbGw9IiMzMzU4NjYiLz48dXNlIHhsaW5rOmhyZWY9IiNEIiB4PSItMTEyMS40IiB5PSItMTAxNy40IiBmaWxsPSIjMmE1MjYyIi8+PGRlZnM+PHBhdGggaWQ9IkEiIGQ9Im0xMTk5LjUgMTIwMCA4MC4xLTQ2LjJ2OTIuNHoiLz48cGF0aCBpZD0iQiIgZD0ibTEyNzkuNiAxMTUzLjgtODAuMS00Ni4zdjkyLjV6Ii8+PHBhdGggaWQ9IkMiIGQ9Im0xMjc5LjYgMTA2MS4zLTgwLjEtNDYuM3Y5Mi41eiIvPjxwYXRoIGlkPSJEIiBkPSJtMTE5OS41IDEwMTUgODAuMS00Ni4ydjkyLjV6Ii8+PHBhdGggaWQ9IkUiIGQ9Im0xMjc5LjYgOTY4LjgtODAuMS00Ni4zdjkyLjV6Ii8+PHBhdGggaWQ9IkYiIGQ9Ik04NzkuMSA5MC4xIDc5OSA0NHY5Mi41eiIvPjxwYXRoIGlkPSJHIiBkPSJNOTU5LjIgNDMuOSA4NzkuMS0yLjR2OTIuNXoiLz48cGF0aCBpZD0iSCIgZD0iTTg3OS4xIDI3NSA3OTkgMjI4Ljl2OTIuNXoiLz48cGF0aCBpZD0iSSIgZD0iTTg3OS4xLTIuNCA3OTktNDguNnY5Mi41eiIvPjxwYXRoIGlkPSJKIiBkPSJNODc5LjEgNjQ1IDc5OSA1OTguOXY5Mi41eiIvPjxwYXRoIGlkPSJLIiBkPSJNNDc4LjYgNDMuOSAzOTguNS0yLjR2OTIuNXoiLz48L2RlZnM+PC9zdmc+) no-repeat center center;
	background-size: cover;
}

body.login.theme-basic:after,
body.theme-basic #loading-mask:after,
body.theme-basic #bg:after,
body.theme-basic.zarafa-welcome:after,
body.login.theme-highcontrast:after,
body.theme-highcontrast #loading-mask:after,
body.theme-highcontrast #bg:after,
body.theme-highcontrast.zarafa-welcome:after,
body.login.theme-dark:after,
body.theme-dark #loading-mask:after,
body.theme-dark #bg:after,
body.theme-dark.zarafa-welcome:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background-size: cover;
	z-index: -1;
}

#loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/** ExtJS uses 20001 as z-index for its loading mask, so we need to use values higher then this **/
	z-index: 20002;
}

body.login,
#loading-mask {
	#form-container {
		display: inline-block;
		visibility: hidden;
		top: 0;
		position: relative;
		overflow: hidden;
		z-index: 20010;
		color: $dark-grey2;

		#bg {
			position: absolute;
			left: 0;
			top: 0;
			-webkit-filter: blur(10px);
			filter: blur(10px);
		}

		#content {
			width: 560px;
			padding: 50px 60px 60px;
			background: rgba(255, 255, 255, 0.5);
			position: relative;
		}
		/* clearfix */
		#content:after {
    		content: " ";
    		display: block;
			clear: both;
		}

		.left {
			float: left;
			width: 220px;
			height: 220px;
			padding-right: 60px;
		}
		.right {
			float: left;
			width: 245px;
			padding-left: 35px;
			min-height: 220px;
			position: relative;
		}

		h1 {
			font-size: 36px !important;
			line-height: 36px;
			font-weight: normal;
			margin: 0 0 30px;
		}
		h2 {
			font-size: 13px;
			font-weight: normal;
			text-align: right;
		}

		#logo {
			background: url(../../images/grommunio-logo.svg) no-repeat right center;
			background-size: 220px 52px;
			width: 100%;
			height: 61px;
			margin: 71px 0 15px;
		}
	}

	#form-container.loading {
		visibility: visible;
		.right {
			h1, form{
				display: none;
			}

			background: url(../../images/loading_m.png) no-repeat center center;
			animation: rotate 1.3s 0s infinite ease;
		}
	}
}


body.login > #form-container {
	label {
		display: block;
		margin-bottom: 0.5em;
	}
	input[type="text"],
	input[type="password"] {
		display: block;
		width: 245 - 2* $padding-medium - 2;
		background: white !important;
		border: 1px solid $grey;
		padding: 0 $padding-medium;
		margin-bottom: 15px;
		height: 24px;
	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}

	input:focus {
		outline:0;
		border-color: $sky-blue;
	}

	#password {
		margin-bottom: 8px;
	}

	#error {
		color: #e40023;
	}

	#submitbutton {
		background: $grommunio-blue;
		color: white;
		height: 24px;
		line-height: 24px;
		border: 1px solid transparent;
		padding: 0 $padding-large;
		min-width: 84px;
		margin: 12px 0 0;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
	}
	#submitbutton:hover {
		background-color: $grommunio-blue-hover;
	}
	#submitbutton:click {
		background-color: $grommunio-blue-active;
	}
	#submitbutton:focus {
		box-shadow: 0 0 0 1px $white inset;
	}
}
