@import 'print';

table {
	width: 100%;
	text-align: left;
	font-size: 11px;
	font-family: arial;
	border-collapse: collapse;
}

table th {
	font-weight: bold;
	padding: 2px 3px 2px 0px;
}

table td {
	padding: 2px 3px 2px 0px;
}

table.task-list {
	border: 1px solid black;
	border-collapse: collapse;
}
.task-list th {
	border: 1px solid black;
	text-align: left;
    background-color: lightgrey;
}
.task-list td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}
