.zarafa-maintoolbar {
	border: none;
	padding: $padding-large 0 0 $padding-extra-large;
	background: url(../images/kopano-logo_129x30.png) no-repeat right $padding-extra-large center;
	
	.x-btn,
	.x-btn.zarafa-action {
		margin-right: $padding-large;

		button.icon_createEmailMessage {
			@extend .icon_large_addressbook;
        	background-image: sprite-url($icons) !important;
			background-position: sprite-position($icons, icon_mail_large_white, $offset_y: 5px, $offset_x: 6px);
		}

		button.icon_create_appointment {
        	background-image: sprite-url($icons) !important;
			background-position: sprite-position($icons, icon_calendar_large_white, $offset_y: 6px, $offset_x: 5px);
		}

		button.icon_createContact {
        	background-image: sprite-url($icons) !important;
			background-position: sprite-position($icons, icon_contact_large_white, $offset_y: 6px, $offset_x: 8px);
		}

		button.icon_createTask {
        	background-image: sprite-url($icons) !important;
			background-position: sprite-position($icons, icon_task_large_white, $offset_y: 6px, $offset_x: 5px);
		}

		button.icon_createNote {
        	background-image: sprite-url($icons) !important;
			background-position: sprite-position($icons, icon_note_large_white, $offset_y: 6px, $offset_x: 6px);
		}
	}

	.x-btn {
		button.icon_addressbook {
			@extend .icon_large_addressbook;
			background-position: sprite-position($icons, icon_large_addressbook, $offset_y: 3px, $offset_x: 1px);
		}

		button.x-tbar-loading {
			@extend .icon_large_refresh;
			background-position: sprite-position($icons, icon_large_refresh, $offset_y: 3px, $offset_x: 1px);
		}

		button.icon_print {
			@extend .icon_large_print;
			background-position: sprite-position($icons, icon_large_print, $offset_y: 3px, $offset_x: 1px);
		}

		button.view_icon {
			@extend .icon_large_view;
			background-position: sprite-position($icons, icon_large_view, $offset_y: 3px, $offset_x: 1px);
		}

		button.icon-calendar-grid {
			@extend .icon_large_list_view;
			background-position: sprite-position($icons, icon_large_list_view, $offset_y: 3px, $offset_x: 1px);
		}

		button.icon-calendar-day {
			@extend .icon_large_calendar_view_day;
			background-position: sprite-position($icons, icon_large_calendar_view_day, $offset_y: 3px, $offset_x: 2px);
		}

		button.icon-calendar-workweek {
			@extend .icon_large_calendar_view_workweek;
			background-position: sprite-position($icons, icon_large_calendar_view_workweek, $offset_y: 3px, $offset_x: 2px);
		}

		button.icon-calendar-week {
			@extend .icon_large_calendar_view_week;
			background-position: sprite-position($icons, icon_large_calendar_view_week, $offset_y: 3px, $offset_x: 2px);
		}

		button.icon-calendar-month {
			@extend .icon_large_calendar_view_month;
			background-position: sprite-position($icons, icon_large_calendar_view_month, $offset_y: 3px, $offset_x: 2px);
		}
	}
}
