.zarafa-maintoolbar {
	border: none;
	padding: $padding-large 0 0 $padding-extra-large;
	background: url(../images/kopano-logo_115x26.png) no-repeat right $padding-extra-large center;

	.x-btn,
	.x-btn.zarafa-action {
		margin-right: $padding-large;
	}
}
