/* Pop-up notifications */
.zarafa-notifier-eventdropdown-item,
.zarafa-notifier-popup-item,
.zarafa-notifier-dropdown-item {
	background-color : #f4f4f4;
	text-align : left;
	display: table;
	width: 100%;
	box-shadow : 0 1px 1px white;
	border-style : solid;
	border-color : #ccc;

	.left {
		width: 40px;
		display: table-cell;
		vertical-align: middle;
	}

	.right {
		padding: 10px 10px 10px 0;
	}
}

.zarafa-notifier-dropdown-item,
.zarafa-notifier-eventdropdown-item
{
	border-width : 0 1px 1px 1px;
}
.zarafa-notifier-popup-item
{
	border-width : 1px 0 0 1px;
}

.zarafa-notifier-dropdown-item-title,
.zarafa-notifier-eventdropdown-item-title,
.zarafa-notifier-popup-item-title
{
	font-weight : bold;
	font-size : 1.3em;
}
.zarafa-notifier-container
{
	position : absolute;
	z-index : 1000000000;
	width : 356px;
}

.zarafa-slide-notifier-icon
{
	height: 30px;
	background-image: sprite-url($iconsmap);
	background-repeat: no-repeat;
}

.zarafa-slide-notifier-error {
	background-color : #f4eaea;

	.icon {
		@extend .zarafa-slide-notifier-icon;
		background-position: sprite-position($iconsmap, 'icon_notification_error', $offset_x: 10px, $offset_y: 5px);
	}
}

.zarafa-slide-notifier-warning {
	background-color : #f4eac0;

	.icon {
		@extend .zarafa-slide-notifier-icon;
		background-position: sprite-position($iconsmap, 'icon_notification_warning', $offset_x: 10px, $offset_y: 5px);
	}
}

.zarafa-slide-notifier-info {
	background-color : #eaf4ea;

	.icon {
		@extend .zarafa-slide-notifier-icon;
		background-position: sprite-position($iconsmap, 'icon_notification_info', $offset_x: 10px, $offset_y: 5px);
	}
}

/* Create a normal formatted list in the Missing Default Folder notifier */
.zarafa-slide-notifier-error-hierarchy-defaultfolder ul {
	list-style: disc;
	padding-left: 40px;
}
