.x-tip {
	border: solid 1px #a7a7a7;
	border-radius: 2px;
}
/* tooltip  for example Addrss book button large */
.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr {
	background-image: none;
	background-color: #f1f1f1;
}

/* The tooltip for the calendar appointments */
.zarafa-appointment-tooltip {
	border: 1px solid $font-color-dark;
	border-radius: 0;
	z-index: 9000 !important;

	.x-tip-tc,
	.x-tip-tl,
	.x-tip-tr,
	.x-tip-bc,
	.x-tip-bl,
	.x-tip-br,
	.x-tip-ml,
	.x-tip-mr {
		background: white;
	}

	.x-tip-tc {
		padding-top: $padding-medium;
	}
	.x-tip-body {
		color: $font-color-dark;
	}

	h2 {
		line-height: $font-default-line-height;
		font-weight: bold;
		margin-bottom: $padding-small;
	}

	p {
		line-height: $font-default-line-height;
		padding-bottom: $padding-medium;
	}
}

.x-tip .x-tip-body {
	word-wrap: break-word;
}

/* Seemingly unused icon, removed so we do not load the ExtJS image */
.x-tip-anchor.x-tip-anchor-top {
	background-image: none;
}

