/* Style Add Widget Panel */

.zarafa-widget-item {
	width:80px;
	text-align:center;
	display: block;
	float:left;
	margin:5px;
	cursor:pointer;
}
.zarafa-widget-item .thumb-wrap {
	display: block;
	width:80px;
	height:80px;
	text-align:center;
	vertical-align:middle;
	position:relative;
}

.zarafa-widget-item > span {
	height:2.75em;
	display:block;
	overflow:hidden;
	padding-top:0.25em;
}

.zarafa-widgets-selectedwidget
{
	color : #7f7f7f;
}
.zarafa-widgets-hoverwidget
{
	color : #7f7f7f;
	text-decoration : underline;
}
.zarafa-widget-item .thumb-wrap img {
	display:block;
	margin:auto;
}

/* Body element of a panel */
.x-panel-btns {
	padding:5px;
}
.x-panel-tl, .x-panel-tc, .x-panel-tr {
	background-image:none;
	background-color:transparent;
	padding: 0;
}
.x-panel-tl {
	border: none;
}
.x-panel-ml, .x-panel-mc, .x-panel-mr {
	background-image:none;
	background-color:#EBEAEB;
}
.x-panel-bl, .x-panel-bc, .x-panel-br {
	background-image:none;
}
.x-panel.x-portlet {
	border: 1px solid $grey;
	margin-bottom: 10px;
	background-color: transparent !important;

	.x-panel-ml,
	.x-panel-mr {
		padding: 0;
	}

	.x-panel-bl.x-panel-nofooter {
		display: none;
	}
}

/* TaskWidget */
.k-taskwidget,
.k-appointmentwidget {
		.x-grid3-row {
		.x-grid3-row-body-tr {
			.zarafa-grid-body-container {
				.grid_compact_left {
					padding-left: $padding-medium + 1px;
				}
			}
		}
	}

	.x-grid3-row.zarafa-task-overdue {
		.x-grid3-row-body-tr {
			.zarafa-grid-body-container {
				.grid_compact_left {
					color: inherit;
					opacity: 0.5;
				}
			}
		}
	}
}
