/* The font */

$font-default-line-height		: 20px;
$font-default-size				: 13px;
$font-default-color				: #000000;

$font-size-large				: 15px;
$font-line-height-large			: 20px;

$font-size-extra-large			: 18px;
$font-line-height-extra-large	: 25px;

$font-line-height-small			: 15px;

/*
 * Remember, !important is very fugly! But in this case it is used because we want to force only one font accross the WebApp
 * and this is a very easy way to overwrite all those font-settings that Ext does.
 */

@mixin basefont($size){
	font-family: arial, tahoma, helvetica, sans-serif !important;
	font-size: $size !important;
}

body * :not(.mce-ico) {
	@include basefont($font-default-size);
}
